@media (min-width: 1280px){
    .site-header .container{
        background-image: url("../img/moon-rocket.png");
        background-repeat: no-repeat;
        background-position: 100% 130px;
    }

}
@media (max-width: 1024px){
    .vacation-request .container{
        flex-direction: column;
    }
}
@media (max-width: 960px){
    /* .site-header .container{
        background-position: center bottom;
        min-height: 720px;
    } */
    .container{
        margin: 0 5%;
    }
    .column-container, .footer-columns-container, .footer-menu{
        flex-direction: column;
    }
} 
@media (max-width: 768px){
    .container{
        margin: 0 25px;
        width: 100%;
        color:red;
    }
}